<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Editor" value="vim"/>
    <add key="LocServer" value="LOC-TC-01"/>
    <add key="SourceFolder" value="C:\Dev\Sourc0"/>
    <add key="OctopusPurgeDirs" value="D:\Octopus\Tentacle\Files;D:\Octopus\Tentacle\Applications\LOC;D:\Octopus\Server\OctopusServer\PackageCache"/>
    <add key="OctopusApiKey" value="API-OIEP5GZVJY9L8YPGEBCG9AWJ2PW" />

    <add key="SelectedClient" value="LXA" />

    <add key="LXA_OctopusProject" value="LXA-Rebrand" />
    <add key="LXA_NugetsToBuild" value="LXA.RendererExtensions" />
    <add key="LXA_OctopusStepsToSkip" value="Boarding.BoardingServices;Boarding.DCS.Amadeus" />
  </appSettings>
</configuration>